.container-select {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
}
.container-select .inputvalue {
  width: 8rem;
}
.labelSymbol {
  display: inline-block;
  min-width: 70px;
  max-width: 80px;
  text-align: center;
  background-color: #c3ceda;
  border-radius: 15px;
}
.selectbox {
  margin-left: 3rem;
}
